---
layout: default
---

Posts:

<ul>
  {{#each @posts}}
    <li><a href="{{fullpath path}}">{{title}}</a> ({{datetime date 'YYYY-MM-DD'}})</li>
  {{/each}}
</ul>

Pages:

<ul>
  {{#each @pages}}
    <li><a href="{{fullpath path}}">{{title}}</a></li>
  {{/each}}
</ul>
