<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{#if @current.title}}{{@current.title}}{{else}}{{@site.title}}{{/if}}</title>
    <link rel="stylesheet" href="{{fullpath '/css/main.css'}}">
    <link rel="canonical" href="{{permalink @current.path}}">
  </head>
  <body>
    {{> header}}

    {{content}}
  </body>
</html>
