<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{#if @page.title}}{{@page.title}}{{else}}{{@site.title}}{{/if}}</title>
    <link href="{{fullpath '/css/main.css'}}" rel="stylesheet">
  </head>
  <body>
    {{> header}}

    {{content}}
  </body>
</html>
